.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 7 * ($cell-size + $cell-gap);

  &__day {
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: $cell-gap;
    margin-bottom: $cell-gap;
    height: $cell-size;
    width: $cell-size;
    background-color: #eee;
    border: 1px solid #000;
    transition: transform 0.5s, background-color 0.5s;
    cursor: pointer;

    &:hover {
      transform: translateY(-20px);
      background-color: pink;
    }

    &:after {
      font-size: 30px;
    }
  }
}
