@each $day, $margin in $days {
  .calendar-#{$day} .calendar__day:first-of-type {
    margin-left: #{$margin};
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} .calendar__day:nth-child(-n+#{$i}) {
    display: block;
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i}):before {
    content: "#{$i}";
  }
}
