$cell-size: 100px;
$cell-gap: 1px;
$days:
  (mon, $cell-size),
  (tue, $cell-size + $cell-gap),
  (wed, $cell-size * 2 + $cell-gap * 2),
  (thu, $cell-size * 3 + $cell-gap * 3),
  (fri, $cell-size * 4 + $cell-gap * 4),
  (sat, $cell-size * 5 + $cell-gap * 5),
  (sun, $cell-size * 6 + $cell-gap * 6);
